# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SMT5\HelloW\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
